@media (max-width: 1170px) {
	.advertisement {
		display: none;
	}

	// ! section2
	.block__two {
		.buttons {
			justify-content: center;
		}

		.button {
			margin: 10px;
		}

		.cards {
			justify-content: center;
		}

		.card {
			margin: 15px;
		}
	}

	// ! section-4
	.block__four {
		.content {
			.cards {
				display: flex;
				justify-content: center;

				.card {
					margin: 15px;
				}
			}
		}
	}

  // ! section - 5
  .block__five {
    .content {
      .cards {
        justify-content: center;
      }
    }
  }
}
