body {
	background: url(../img/clients-bg.jpg) center no-repeat fixed;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

// ! start
.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1160px;
	padding: 0 20px;
}

// ! header
.header {
	position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1000;
}

#header__scroll {
	margin: 25px 0;
}

// ! content
.header__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

// !
.header__left {
	.header__ul {
		display: flex;
		justify-content: center;
		align-items: center;

		a {
			margin: 0 20px;
			font-family: "Gilroy";
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 150%;
			/* identical to box height, or 21px */

			color: #ffffff;
		}
	}
}

// ! center

.header__right {
	display: flex;
	justify-content: center;
	align-items: center;

	.header__search {
		display: flex;
		justify-content: center;
		align-items: center;

		button {
			display: block;
			margin-right: 15px;
		}

		input {
			max-width: 40px;

			&::placeholder {
				color: #fff;
			}
		}
	}
	.header__auth {
		margin: 0 40px;

		a,
		span {
			color: #fff;
		}
	}
	.header__prof {
		button {
			&:last-child {
				margin-left: 30px;
			}
		}
	}
}

// ! main
// ! section
.block__one {
	background: url(../img/bgc.png) center no-repeat;
	background-size: cover;

	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	.block__one__content {
		width: 100%;
		height: 80vh;

		display: flex;
		justify-content: center;
		align-items: end;

		.block__one__title {
			text-align: center;

			h1 {
				font-family: "Noto Serif";
				font-style: normal;
				font-weight: 700;
				font-size: 36px;
				line-height: 49px;
				/* identical to box height */

				text-align: center;

				color: #ffffff;
				margin-bottom: 50px;
			}

			button {
				padding: 15px 35px;
				background: #333333;
				border: 1px solid #ffffff;

				font-family: "Gilroy";
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				line-height: 21px;
				text-align: center;
				letter-spacing: 0.1em;
				text-transform: uppercase;

				color: #ffffff;

				cursor: pointer;
			}
		}
	}

	.advertisement {
		margin-top: auto;

		hr {
			border: 1px solid white;
			opacity: 0.5;
		}
	}
	.logos {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;

		a {
			position: relative;
			margin: 15px 0;
		}

		.line::after {
			content: "";
			position: absolute;
			left: -15px;
			top: 0;
			height: 60px;
			border: 1px solid white;
			opacity: 0.5;
			cursor: default;
		}
	}

	hr {
		border: 1px solid #fff;
		opacity: 0.5;
	}
}

// ! section-2
.block__two {
	background: #f9f9f9;
	position: relative;
	z-index: 1;

	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		padding: 60px 0;
	}

	.titles {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.title_1 {
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 400;
		font-size: 21px;
		line-height: 140%;
		color: #333333;
		text-align: center;
	}

	.title_2 {
		font-family: "Noto Serif";
		font-style: normal;
		font-weight: 700;
		font-size: 30px;
		line-height: 41px;
		text-align: center;
	}

	.buttons {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 57px 0;
		width: 100%;

		.button {
			display: flex;
			justify-content: center;
			align-items: center;

			position: relative;

			width: 165px;
			height: 55px;
			background: #f9f9f9;
			border: 1px solid #d6d6d6;

			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 21px;
			letter-spacing: 0.1em;
			text-transform: uppercase;

			cursor: pointer;
			transition: 0.7s;

			&:hover {
				background: #333333;
				color: white;
			}

			&::after {
				content: "";
				position: absolute;

				left: 5px;
				top: 5px;
				background-color: #f9f9f9;
				border: 1px solid #d6d6d6;
				width: 165px;
				height: 55px;

				z-index: -1;
			}
		}
	}

	.cards {
		margin-bottom: 100px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	.card {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		margin: 15px 0;
		width: 350px;
		height: 200px;

		cursor: pointer;

		p {
			margin-bottom: 50px;

			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 28px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: #fff;
		}
	}

	.pic1 {
		background: url(../img/cards/pic1.png);
	}
	.pic2 {
		background: url(../img/cards/pic2.png);
	}
	.pic3 {
		background: url(../img/cards/pic3.png);
	}
	.pic4 {
		background: url(../img/cards/pic4.png);
	}
	.pic5 {
		background: url(../img/cards/pic5.png);
	}
	.pic6 {
		background: url(../img/cards/pic6.png);
	}
}

// ! Section -3
.block__three {
	background: url(../img/back3.png) center no-repeat;
	background-size: cover;

	overflow: hidden;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.block__three__content {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		padding: 60px 0;
		width: 100%;

		text-align: center;

		.title__1 {
			margin-bottom: 15px;

			font-style: normal;
			font-weight: 400;
			font-size: 21px;
			line-height: 140%;
			color: #ffffff;
		}

		.title__2 {
			margin-bottom: 45px;

			font-style: normal;
			font-weight: 700;
			font-size: 30px;
			line-height: 41px;
			color: #ffffff;
		}

		.text {
			max-width: 730px;
			// text-align: center;

			margin-bottom: 45px;

			p {
				font-style: normal;
				// font-weight: 400;
				font-size: 18px;
				line-height: 140%;
				color: #ffffff;
			}
		}

		.button {
			button {
				padding: 15px 35px;

				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				line-height: 21px;
				text-align: center;
				letter-spacing: 0.1em;
				text-transform: uppercase;

				color: #333333;
				background: #fff;
			}
		}
	}
}

// ! section -4

.block__four {
	background: #f9f9f9;

	.content {
		padding: 60px 0;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		text-align: center;

		.title_1 {
			font-style: normal;
			font-weight: 400;
			font-size: 21px;
			line-height: 140%;
			color: #333333;
		}

		.title_2 {
			font-style: normal;
			font-weight: 700;
			font-size: 30px;
			line-height: 41px;
			color: #333333;
		}

		.cards {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;

			margin: 50px 0 50px 0;

			.card {
				display: flex;
				justify-content: center;
				align-items: flex-end;
				width: 350px;
				height: 370px;

				margin: 0 10px;

				p {
					margin-bottom: 30px;

					font-style: normal;
					font-weight: 400;
					font-size: 21px;
					line-height: 140%;

					color: #fff;
				}
			}
			.pic1 {
				background: url(../img/back3-1.png);
			}
			.pic2 {
				background: url(../img/back3-2.png);
			}
			.pic3 {
				background: url(../img/back3-3.png);
			}
		}

		button {
			padding: 15px 35px;
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 21px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: #ffffff;

			background: #333333;
		}
	}
}

// ! section -5
.block__five {
	background: #f9f9f9;

	.content {
		padding: 60px 0;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		text-align: center;

		.title_1 {
			font-style: normal;
			font-weight: 400;
			font-size: 21px;
			line-height: 140%;
			color: #333333;
		}

		.title_2 {
			font-style: normal;
			font-weight: 700;
			font-size: 30px;
			line-height: 41px;
			color: #333333;
		}

		.cards {
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			margin: 50px 0;
		}

		.card {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 277px;
			height: 300px;
		}
		.pic1 {
			background: url(../img/cards3/pic1.png) no-repeat center;
			background-size: cover;
			width: 555px;
			height: 300px;
		}
		.pic2 {
			background: url(../img/cards3/pic2.png) no-repeat center;
			background-size: cover;
		}
		.pic3 {
			background: url(../img/cards3/pic3.png) no-repeat center;
			background-size: cover;
		}
		.pic4 {
			background: url(../img/cards3/pic4.png) no-repeat center;
			background-size: cover;
		}
		.pic5 {
			background: url(../img/cards3/pic5.png) no-repeat center;
			background-size: cover;
		}
		.pic6 {
			background: url(../img/cards3/pic6.png) no-repeat center;
			background-size: cover;
			width: 555px;
			height: 300px;
		}
	}
}

// ! Section -6
.block__six {
	background: url(../img/back3.png) center no-repeat;
	background-size: cover;

	.content {
		padding: 60px 0;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		text-align: center;

		.titles {
			margin-bottom: 15px;

			.title_1 {
				margin-bottom: 8px;

				font-style: normal;
				font-weight: 400;
				font-size: 21px;
				line-height: 140%;
				color: #ffffff;
			}

			.title_2 {
				margin-bottom: 25px;

				font-style: normal;
				font-weight: 700;
				font-size: 30px;
				line-height: 41px;
				color: #ffffff;
			}
		}

		.info {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.info__left {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				line-height: 28px;

				.info__text {
					color: #fff;
					margin: 0 15px;

					background: url(../img/subscribe__icon.svg) no-repeat left;
					padding-left: 37px;
				}
			}

			.info__right__border {
				border: 1px solid #fff;
				padding: 10px;
			}

			.info__right {
				background: #fff;
			}

			form {
				display: flex;
				justify-content: space-between;
				background: #fff;
				padding: 8px 12px;
			}

			input {
				border: 1px solid #d6d6d6;
				padding: 15px 8px 15px 20px;
			}

			button {
				padding: 15px 35px;
				background: #333333;
				color: #fff;
				text-transform: uppercase;
				margin-left: 10px;
			}
		}
	}
}

// ! footer
.footer {
	margin-top: auto;
	background: #f9f9f9;

	.content {
		padding-top: 60px;
	}

	.top__block {
		display: flex;
		justify-content: space-between;

		.card {
			width: 255px;

			h3 {
				padding-bottom: 8px;

				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				line-height: 140%;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				color: #333333; 
			}

			hr {
				border-bottom: 1px solid #333333;
				display: block;
			}

			.footer__nav {
				display: flex;
				flex-direction: column;
				padding: 20px 0;

				.card__text {
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					line-height: 150%;
					color: #333333;
				}

				.footer__nav__pay {
					display: flex;
					justify-content: flex-start;
					align-items: center;

					img {
						width: 45px;
						margin: 15px 15px 0 0;
					}
				}

				.card__link {
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					line-height: 150%;
					color: #333333;

					margin-bottom: 15px;
				}
			}

			.card__number {
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 150%;
				color: #333333;

				margin: 0 0 15px 0;
			}

			.pic1 {
				background: url(../img/pay1.svg) no-repeat left;
				padding-left: 37px;
			}

			.pic3 {
				background: url(../img/pay3.svg) no-repeat left;
				padding-left: 37px;
			}

			.card__text {
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 150%;
				color: #333333;
				margin-bottom: 18px;
			}

			.contact__icons {
				img {
					margin-right: 10px;
				}
			}
		}
	}

	.bottom__block {
		hr {
			border-bottom: 1px solid #333333;
		}

		.bottom__content {
			margin: 20px 0;
			display: flex;
			justify-content: space-between;
		}

		.bottom__link {
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 150%;

			text-align: right;
			text-decoration-line: underline;

			color: #333333;
		}
	}
}

